In [42]:
import pandas as pd

In [315]:
data = Lancamento.objects\
        .values('lancamento__title','lancamento__category__category', 'amount', 'amount2', 'amount3', 'amount4', 'amount5', 'amount6', 'amount7', 'amount8', 'amount9', 'amount10', 'amount11', 'amount12')\
        .order_by('lancamento__category__category')
data

<QuerySet [{'lancamento__title': 'funcionario 1', 'lancamento__category__category': 'folha', 'amount': 200.0, 'amount2': 200.0, 'amount3': 200.0, 'amount4': 200.0, 'amount5': 200.0, 'amount6': 0.0, 'amount7': 0.0, 'amount8': 0.0, 'amount9': 0.0, 'amount10': 0.0, 'amount11': 0.0, 'amount12': 0.0}, {'lancamento__title': 'midias', 'lancamento__category__category': 'propaganda', 'amount': 100.0, 'amount2': 100.0, 'amount3': 100.0, 'amount4': 100.0, 'amount5': 100.0, 'amount6': 500.0, 'amount7': 100.0, 'amount8': 0.0, 'amount9': 0.0, 'amount10': 0.0, 'amount11': 0.0, 'amount12': 0.0}]>

lancamento

In [128]:
mes1 = data.aggregate(Sum('amount'))
mes2 = data.aggregate(Sum('amount2'))

{'amount__sum': 300.0}

In [112]:
pd.DataFrame(data)

,lancamento__title,lancamento__category__category,amount,amount2,amount3,amount4,amount5,amount6,amount7,amount8,amount9,amount10,amount11,amount12
0,funcionario 1,folha,200.0,200.0,200.0,200.0,200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,midias,propaganda,100.0,100.0,100.0,100.0,100.0,500.0,100.0,0.0,0.0,0.0,0.0,0.0

In [147]:
data2 = Lancamento.objects.all().filter(lancamento__category__category='folha').values('amount', 'amount2', 'amount3', 'amount4', 'amount5', 'amount6', 'amount7', 'amount8', 'amount9', 'amount10', 'amount11', 'amount12')

In [148]:
mes1 = data2.aggregate(Sum('amount'))['amount__sum']
mes2 = data2.aggregate(Sum('amount2'))['amount2__sum']
mes3 = data2.aggregate(Sum('amount3'))['amount3__sum']
mes4 = data2.aggregate(Sum('amount4'))['amount4__sum']
mes5 = data2.aggregate(Sum('amount5'))['amount5__sum']
mes6 = data2.aggregate(Sum('amount6'))['amount6__sum']
mes7 = data2.aggregate(Sum('amount7'))['amount7__sum']
mes8 = data2.aggregate(Sum('amount8'))['amount8__sum']
mes9 = data2.aggregate(Sum('amount9'))['amount9__sum']
mes10 = data2.aggregate(Sum('amount10'))['amount10__sum']
mes11 = data2.aggregate(Sum('amount11'))['amount11__sum']
mes12 = data2.aggregate(Sum('amount12'))['amount12__sum']

In [149]:
total = mes1 + mes2 + mes3 + mes4 + mes5 + mes6 + mes7 + mes8 + mes9 + mes10 + mes11 + mes12

In [363]:
total

1000.0

In [390]:
def checar_categoria():
    data2 = Lancamento.objects.all().values('lancamento__category__category')
    for item in data2:
        return item

In [437]:
a_dict = Lancamento.objects.values('lancamento_id')
a_dict.keys()

AttributeError: 'QuerySet' object has no attribute 'keys'

In [427]:
checar_categoria()

{'lancamento__category__category': 'propaganda'}

In [393]:
data2 = Lancamento.objects.all().filter(lancamento__category__category=checar_categoria()).values('amount', 'amount2', 'amount3', 'amount4', 'amount5', 'amount6', 'amount7', 'amount8', 'amount9', 'amount10', 'amount11', 'amount12')

In [384]:
data2

In [637]:
data2 = Lancamento.objects.all().values('lancamento__category__category')

In [638]:
for key in data2:
    print(key)

{'lancamento__category__category': 'propaganda'}
{'lancamento__category__category': 'folha'}

In [639]:
for item in data2.items():
    print(item)
    print(type(item))

AttributeError: 'QuerySet' object has no attribute 'items'

In [640]:
a_dict = {'one': 1, 'two': 2, 'thee': 3, 'four': 4}
>>> new_dict = {}
>>> for key, value in a_dict.items():
...     new_dict[value] = key

In [641]:
new_dict

{1: 'one', 2: 'two', 3: 'thee', 4: 'four'}

In [642]:
a_dict = {'one': 1, 'two': 2}
for key, value in a_dict.items():
    vals = Lancamento.objects.all().filter(lancamento=value).values('amount', 'amount2', 'amount3', 'amount4', 'amount5', 'amount6', 'amount7', 'amount8', 'amount9', 'amount10', 'amount11', 'amount12')
    mes1 = vals.aggregate(Sum('amount'))['amount__sum']
    mes2 = vals.aggregate(Sum('amount2'))['amount2__sum']
    mes3 = vals.aggregate(Sum('amount3'))['amount3__sum']
    mes4 = vals.aggregate(Sum('amount4'))['amount4__sum']
    mes5 = vals.aggregate(Sum('amount5'))['amount5__sum']
    mes6 = vals.aggregate(Sum('amount6'))['amount6__sum']
    mes7 = vals.aggregate(Sum('amount7'))['amount7__sum']
    mes8 = vals.aggregate(Sum('amount8'))['amount8__sum']
    mes9 = vals.aggregate(Sum('amount9'))['amount9__sum']
    mes10 = vals.aggregate(Sum('amount10'))['amount10__sum']
    mes11 = vals.aggregate(Sum('amount11'))['amount11__sum']
    mes12 = vals.aggregate(Sum('amount12'))['amount12__sum']
    print(mes1+mes2+mes3)

300.0
600.0

In [643]:
new_list = []
data2 = Lancamento.objects.all().values_list('lancamento__category__category')
def category():
    for key in data2:
        return new_list.append(key)

In [644]:
category()

In [645]:
new_list

[('propaganda',)]

In [646]:
Lancamento.objects.all():

TypeError: 'list' object is not callable

In [532]:
def main():
    for i in Lancamento.objects.all():
        return i

def hello():
    return "Hi"

In [533]:
main()

In [757]:
var = Lancamento.objects.all().values('lancamento__category__category', 'amount', 'amount2')

In [758]:
var

In [759]:
for i in range(len(var)):
    print (var[i])

{'lancamento__category__category': 'propaganda', 'amount': 100.0, 'amount2': 100.0}
{'lancamento__category__category': 'folha', 'amount': 200.0, 'amount2': 200.0}

In [760]:
from django.http import JsonResponse

In [797]:
list1 = []
def run_cat():
    for i in range(len(var)):
        list1.append(var.values_list('lancamento__category__category',flat=True)[i])
    return list1

In [798]:
run_cat()

['propaganda', 'folha']

In [794]:
lan = Lancamento.objects.all().filter(lancamento__category__category=list1[1])
for i in range(len(lan)):
    print(lan.values_list('amount', flat=True)[i])

200.0

In [631]:
def categories():
    categories = Lancamento.objects\
        .values('lancamento__category__category')\
        .annotate(value=Sum('amount'))\
        .order_by('lancamento__category__category')
    data = {
        'data': [
            {
                'label': item['lancamento__category__category'],
                'value': item['value']
            }
            for item in categories
        ]
    }
    return JsonResponse(data)

In [632]:
categories()

In [939]:
import requests
import json

In [940]:
response = requests.get('http://127.0.0.1:8000/dashboard/api/categories')

In [941]:
val = response.json()

In [942]:
val

{'data': [{'label': 'folha', 'value': 600.0},
  {'label': 'propaganda', 'value': 300.0}]}

In [917]:
def cat():
    for item in range(val['data']):
        return (item)

In [918]:
for item in val['data']:
    val = (item['label'])
    amount1 = (item['value'])

In [919]:
cat()

TypeError: string indices must be integers

In [977]:
r_json = json.loads(val)['label']

AttributeError: 'list' object has no attribute 'loads'

In [984]:
url = 'http://127.0.0.1:8000/dashboard/api/categories'
r = requests.get(url)
print(r.text)

{"data": [{"label": "folha", "value": 600.0}, {"label": "propaganda", "value": 300.0}]}

In [985]:
r.text

'{"data": [{"label": "folha", "value": 600.0}, {"label": "propaganda", "value": 300.0}]}'

In [987]:
r.json()

{'data': [{'label': 'folha', 'value': 600.0},
  {'label': 'propaganda', 'value': 300.0}]}

In [922]:
d = {}
for x in range(1, 10):
    d["string{0}".format(x)] = "Hello"

In [924]:
d['string3']

'Hello'