In [7]:
list = Expense.objects.last()

In [8]:
list.expenseType_id

1

In [9]:
from django.shortcuts import render, get_object_or_404, redirect

In [10]:
obj = get_object_or_404(Expense, pk=20)

Http404: No Expense matches the given query.

In [11]:
from datetime import datetime, timedelta
from django_pivot.pivot import pivot
from django.db.models import Sum
import pandas as pd

In [12]:
now = datetime.now()
end_date = now+timedelta(days=365)

In [13]:
datas = Expense.date_obj.values('conc').filter(date__range=(now, end_date))\
            .values('expenseType__title', 'amount', 'conc').order_by('conc')

In [14]:
pivot = pivot(datas, 'expenseType__title', 'conc', 'amount', aggregation=Sum)

In [15]:
pivot

<QuerySet [{'expenseType__title': 'TAXAS', '2020 / 11': 100.0, '2020 / 12': None, '2021 / 1': None, '2021 / 2': None, '2021 / 3': None, '2021 / 4': None}, {'expenseType__title': 'TAXAS', '2020 / 11': None, '2020 / 12': 100.0, '2021 / 1': None, '2021 / 2': None, '2021 / 3': None, '2021 / 4': None}, {'expenseType__title': 'FUNCIONARIO 2', '2020 / 11': None, '2020 / 12': None, '2021 / 1': 150.0, '2021 / 2': None, '2021 / 3': None, '2021 / 4': None}, {'expenseType__title': 'TAXAS', '2020 / 11': None, '2020 / 12': None, '2021 / 1': 100.0, '2021 / 2': None, '2021 / 3': None, '2021 / 4': None}, {'expenseType__title': 'FUNCIONARIO 1', '2020 / 11': None, '2020 / 12': None, '2021 / 1': None, '2021 / 2': 1000.0, '2021 / 3': None, '2021 / 4': None}, {'expenseType__title': 'FUNCIONARIO 2', '2020 / 11': None, '2020 / 12': None, '2021 / 1': None, '2021 / 2': 150.0, '2021 / 3': None, '2021 / 4': None}, {'expenseType__title': 'FUNCIONARIO 2', '2020 / 11': None, '2020 / 12': None, '2021 / 1': None, '2021 / 2': None, '2021 / 3': 50.0, '2021 / 4': None}, {'expenseType__title': 'FUNCIONARIO 2', '2020 / 11': None, '2020 / 12': None, '2021 / 1': None, '2021 / 2': None, '2021 / 3': None, '2021 / 4': 50.0}]>

In [16]:
df = pd.DataFrame(datas)

In [17]:
df

  expenseType__title  amount       conc
0              TAXAS   100.0  2020 / 11
1              TAXAS   100.0  2020 / 12
2      FUNCIONARIO 2   100.0   2021 / 1
3              TAXAS   100.0   2021 / 1
4      FUNCIONARIO 2    50.0   2021 / 1
5      FUNCIONARIO 2   100.0   2021 / 2
6      FUNCIONARIO 2    50.0   2021 / 2
7      FUNCIONARIO 1  1000.0   2021 / 2
8      FUNCIONARIO 2    50.0   2021 / 3
9      FUNCIONARIO 2    50.0   2021 / 4

In [18]:
pd.pivot_table(df, values='amount', index=['expenseType__title'],
                    columns=['conc'], aggfunc=sum)

conc,2020 / 11,2020 / 12,2021 / 1,2021 / 2,2021 / 3,2021 / 4
expenseType__title,,,,,,
FUNCIONARIO 1,NaN,NaN,NaN,1000.0,NaN,NaN
FUNCIONARIO 2,NaN,NaN,150.0,150.0,50.0,50.0
TAXAS,100.0,100.0,100.0,NaN,NaN,NaN

In [19]:
expenses = Expense.objects.all().filter(date__range=(now, end_date))\
            .values('expenseType__title', 'amount', 'date').order_by('date')

In [20]:
expenses

<QuerySet [{'expenseType__title': 'TAXAS', 'amount': 100.0, 'date': datetime.date(2020, 11, 1)}, {'expenseType__title': 'TAXAS', 'amount': 100.0, 'date': datetime.date(2020, 12, 1)}, {'expenseType__title': 'FUNCIONARIO 2', 'amount': 100.0, 'date': datetime.date(2021, 1, 1)}, {'expenseType__title': 'TAXAS', 'amount': 100.0, 'date': datetime.date(2021, 1, 1)}, {'expenseType__title': 'FUNCIONARIO 2', 'amount': 50.0, 'date': datetime.date(2021, 1, 1)}, {'expenseType__title': 'FUNCIONARIO 2', 'amount': 100.0, 'date': datetime.date(2021, 2, 1)}, {'expenseType__title': 'FUNCIONARIO 2', 'amount': 50.0, 'date': datetime.date(2021, 2, 1)}, {'expenseType__title': 'FUNCIONARIO 1', 'amount': 1000.0, 'date': datetime.date(2021, 2, 1)}, {'expenseType__title': 'FUNCIONARIO 2', 'amount': 50.0, 'date': datetime.date(2021, 3, 1)}, {'expenseType__title': 'FUNCIONARIO 2', 'amount': 50.0, 'date': datetime.date(2021, 4, 1)}]>

In [21]:
from datetime import datetime, timedelta
from django_pivot.pivot import pivot
from django.db.models import Sum
import pandas as pd

In [22]:
now = datetime.now()
end_date = now+timedelta(days=365)

In [23]:
categories = Expense.objects.filter(expenseType_id=3).filter(date__range=(now, end_date))\
            .values('expenseType__title', 'amount', 'date').order_by('date')

In [24]:
categories

In [25]:
categories

In [26]:
expenses = Expense.objects.filter(expenseType__id=2).filter(date__range=(now, end_date))\
                .values('id', 'expenseType__title', 'amount', 'date').order_by('date')

In [27]:
expenses

<QuerySet [{'id': 219, 'expenseType__title': 'FUNCIONARIO 2', 'amount': 100.0, 'date': datetime.date(2021, 1, 1)}, {'id': 224, 'expenseType__title': 'FUNCIONARIO 2', 'amount': 50.0, 'date': datetime.date(2021, 1, 1)}, {'id': 220, 'expenseType__title': 'FUNCIONARIO 2', 'amount': 100.0, 'date': datetime.date(2021, 2, 1)}, {'id': 225, 'expenseType__title': 'FUNCIONARIO 2', 'amount': 50.0, 'date': datetime.date(2021, 2, 1)}, {'id': 226, 'expenseType__title': 'FUNCIONARIO 2', 'amount': 50.0, 'date': datetime.date(2021, 3, 1)}, {'id': 227, 'expenseType__title': 'FUNCIONARIO 2', 'amount': 50.0, 'date': datetime.date(2021, 4, 1)}]>

In [34]:
expenses = Expense.objects\
        .values('expenseType__category__category')\
        .filter(date__range=(now, end_date))\
        .annotate(value=Sum('amount'))\
        .order_by('expenseType__category__category')

In [35]:
expenses