In [1]:
from django.db.models.functions import Concat
from django.db.models import CharField, Value as V
from django.db.models import Sum, Count, DateField
from django.db.models.functions import ExtractMonth, ExtractYear, Trunc
from django_pivot.pivot import pivot
import pandas as pd
import datetime

In [8]:
datas = Expense.date_obj.all().values('expenseType__category__category', 'conc', 'amount')

In [10]:
pd.DataFrame(datas)

  expenseType__category__category  amount   conc
0                           FIXOS   100.0  52020
1                           FIXOS   100.0  62020
2                           FIXOS   100.0  72020
3                           FIXOS   100.0  82020
4                           FIXOS   100.0  92020
5                        SALARIOS   200.0  42020
6                        SALARIOS   200.0  52020
7                        SALARIOS   200.0  62020
8                        SALARIOS   200.0  72020
9                        SALARIOS   200.0  82020

In [4]:
pivot_table=pd.pivot_table()

<QuerySet [{'expenseType__category__category': 'FIXOS', 'conc': '52020', '42020': None, '52020': 100.0, '62020': None, '72020': None, '82020': None, '92020': None}, {'expenseType__category__category': 'FIXOS', 'conc': '62020', '42020': None, '52020': None, '62020': 100.0, '72020': None, '82020': None, '92020': None}, {'expenseType__category__category': 'FIXOS', 'conc': '72020', '42020': None, '52020': None, '62020': None, '72020': 100.0, '82020': None, '92020': None}, {'expenseType__category__category': 'FIXOS', 'conc': '82020', '42020': None, '52020': None, '62020': None, '72020': None, '82020': 100.0, '92020': None}, {'expenseType__category__category': 'FIXOS', 'conc': '92020', '42020': None, '52020': None, '62020': None, '72020': None, '82020': None, '92020': 100.0}, {'expenseType__category__category': 'SALARIOS', 'conc': '42020', '42020': 200.0, '52020': None, '62020': None, '72020': None, '82020': None, '92020': None}, {'expenseType__category__category': 'SALARIOS', 'conc': '52020', '42020': None, '52020': 200.0, '62020': None, '72020': None, '82020': None, '92020': None}, {'expenseType__category__category': 'SALARIOS', 'conc': '62020', '42020': None, '52020': None, '62020': 200.0, '72020': None, '82020': None, '92020': None}, {'expenseType__category__category': 'SALARIOS', 'conc': '72020', '42020': None, '52020': None, '62020': None, '72020': 200.0, '82020': None, '92020': None}, {'expenseType__category__category': 'SALARIOS', 'conc': '82020', '42020': None, '52020': None, '62020': None, '72020': None, '82020': 200.0, '92020': None}]>

In [20]:
for i in pivot:
    print(i)

TypeError: 'function' object is not iterable

In [21]:
expenses = Expense.date_objects.all()

AttributeError: type object 'Expense' has no attribute 'date_objects'

In [22]:
pivoted = pivot(expenses, 'expenseType__category__category', 'monthyear', 'amount', aggregation=Sum )

NameError: name 'expenses' is not defined

In [123]:
from django.db.models import Q
from datetime import datetime, timedelta
from django.utils import timezone
import pytz

In [149]:
now = datetime.now()
end_date = now+timedelta(days=365)
now
end_date

datetime.datetime(2021, 9, 30, 18, 25, 35, 935313)

In [150]:
now

datetime.datetime(2020, 9, 30, 18, 25, 35, 935313)

In [167]:
results = Expense.objects.values('expenseType__category__category').filter(date__range=(now, end_date))\
        .annotate(value=Sum('amount'))\
        .values('value', 'expenseType__category__category')

In [168]:
results

FieldError: Cannot compute Sum('value'): 'value' is an aggregate