In [7]:
lanc = Lancamento.objects.values('lancamento__category__category')

In [8]:
lanc

<QuerySet [{'lancamento__category__category': 'Marketing'}, {'lancamento__category__category': 'Marketing'}, {'lancamento__category__category': 'Marketing'}, {'lancamento__category__category': 'Marketing'}, {'lancamento__category__category': 'Marketing'}, {'lancamento__category__category': 'FOLHA'}, {'lancamento__category__category': 'FOLHA'}, {'lancamento__category__category': 'FOLHA'}, {'lancamento__category__category': 'FOLHA'}, {'lancamento__category__category': 'FOLHA'}]>

In [145]:
import pandas as pd
import numpy as np

In [146]:
pd.DataFrame(lanc)

  lancamento__category__category
0                      Marketing
1                      Marketing
2                      Marketing
3                      Marketing
4                      Marketing
5                          FOLHA
6                          FOLHA
7                          FOLHA
8                          FOLHA
9                          FOLHA

In [9]:
data = Lancamento.objects\
        .values('lancamento__category__category')\
        .annotate(value=Sum('amount'))\
        .order_by('lancamento__category__category')

In [187]:
pd.DataFrame(data)

  lancamento__category__category  value
0                          FOLHA  14286
1                      Marketing   6031
2                      Variaveis   5689

In [188]:
data = Lancamento.objects\
        .values('lancamento__category__category','month__name', 'month__id')\
        .annotate(value=Sum('amount'))\
        .order_by('month__id')

In [189]:
for item in data:
    print(item)

{'lancamento__category__category': 'FOLHA', 'month__name': 'JAN/20', 'month__id': 1, 'value': 333}
{'lancamento__category__category': 'Marketing', 'month__name': 'JAN/20', 'month__id': 1, 'value': 22}
{'lancamento__category__category': 'Variaveis', 'month__name': 'JAN/20', 'month__id': 1, 'value': 3366}
{'lancamento__category__category': 'Variaveis', 'month__name': 'FEV/20', 'month__id': 2, 'value': 2323}
{'lancamento__category__category': 'Marketing', 'month__name': 'MAR/20', 'month__id': 3, 'value': 111}
{'lancamento__category__category': 'Marketing', 'month__name': 'ABR/20', 'month__id': 4, 'value': 343}
{'lancamento__category__category': 'FOLHA', 'month__name': 'MAI/20', 'month__id': 5, 'value': 120}
{'lancamento__category__category': 'FOLHA', 'month__name': 'JUN/20', 'month__id': 6, 'value': 3833}
{'lancamento__category__category': 'Marketing', 'month__name': 'JUN/20', 'month__id': 6, 'value': 5555}
{'lancamento__category__category': 'FOLHA', 'month__name': 'AGO/20', 'month__id': 8, 'value': 10000}

In [190]:
df = pd.DataFrame(data)
df['%'] = 100 * df['value'] / df.groupby('month__name')['value'].transform('sum')
df

  lancamento__category__category month__name  month__id  value           %
0                          FOLHA      JAN/20          1    333    8.949207
1                      Marketing      JAN/20          1     22    0.591239
2                      Variaveis      JAN/20          1   3366   90.459554
3                      Variaveis      FEV/20          2   2323  100.000000
4                      Marketing      MAR/20          3    111  100.000000
5                      Marketing      ABR/20          4    343  100.000000
6                          FOLHA      MAI/20          5    120  100.000000
7                          FOLHA      JUN/20          6   3833   40.828718
8                      Marketing      JUN/20          6   5555   59.171282
9                          FOLHA      AGO/20          8  10000  100.000000

In [214]:
pivot_table = pd.pivot_table(df, values=['value','%'], columns=['lancamento__category__category'], index=['month__id', 'month__name'], fill_value=0, aggfunc=np.sum)
pivot_table.stack(0)

lancamento__category__category         FOLHA    Marketing    Variaveis
month__id month__name
1         JAN/20      %             8.949207     0.591239    90.459554
                      value       333.000000    22.000000  3366.000000
2         FEV/20      %             0.000000     0.000000   100.000000
                      value         0.000000     0.000000  2323.000000
3         MAR/20      %             0.000000   100.000000     0.000000
                      value         0.000000   111.000000     0.000000
4         ABR/20      %             0.000000   100.000000     0.000000
                      value         0.000000   343.000000     0.000000
5         MAI/20      %           100.000000     0.000000     0.000000
                      value       120.000000     0.000000     0.000000
6         JUN/20      %            40.828718    59.171282     0.000000
                      value      3833.000000  5555.000000     0.000000
8         AGO/20      %           100.000000     0.000000     0.000000
                      value     10000.000000     0.000000     0.000000

KeyError: 'month__id'

In [10]:
data = Lancamento.objects\
        .values('lancamento__category__category')\
        .annotate(value=Sum('amount'))\
        .order_by('lancamento__category__category')

In [11]:
data