In [7]:
lanc = Lancamento.objects.values('lancamento__category__category')

In [8]:
lanc

<QuerySet [{'lancamento__category__category': 'Marketing'}, {'lancamento__category__category': 'Marketing'}, {'lancamento__category__category': 'Marketing'}, {'lancamento__category__category': 'Marketing'}, {'lancamento__category__category': 'Marketing'}, {'lancamento__category__category': 'FOLHA'}, {'lancamento__category__category': 'FOLHA'}, {'lancamento__category__category': 'FOLHA'}, {'lancamento__category__category': 'FOLHA'}, {'lancamento__category__category': 'FOLHA'}]>

In [15]:
import pandas as pd

In [16]:
pd.DataFrame(lanc)

  lancamento__category__category
0                      Marketing
1                      Marketing
2                      Marketing
3                      Marketing
4                      Marketing
5                          FOLHA
6                          FOLHA
7                          FOLHA
8                          FOLHA
9                          FOLHA

In [28]:
data = Lancamento.objects\
        .values('lancamento__category__category')\
        .annotate(value=Sum('amount'))\
        .order_by('lancamento__category__category')

In [29]:
pd.DataFrame(data)

  lancamento__category__category  value
0                          FOLHA  14286
1                      Marketing   5688
2                      Variaveis   3366

In [36]:
data = Lancamento.objects\
        .values('lancamento','month')\
        .annotate(value=Sum('amount'))\
        .order_by('lancamento__category__category')

AttributeError: 'QuerySet' object has no attribute 'group_by'

In [31]:
data

<QuerySet [{'month': 1, 'value': 333}, {'month': 5, 'value': 120}, {'month': 6, 'value': 3833}, {'month': 8, 'value': 10000}, {'month': 1, 'value': 22}, {'month': 3, 'value': 111}, {'month': 6, 'value': 5555}, {'month': 1, 'value': 3366}]>