In [36]:
sales_list = Fat.objects.all()

In [41]:
product = [i for i in sales_list if i.amount > 0] # only sum even numbers in the list

In [42]:
def fat():
    sales_list = Fat.objects.all()

[<Fat: Fat object (53)>,
 <Fat: Fat object (54)>,
 <Fat: Fat object (55)>,
 <Fat: Fat object (56)>,
 <Fat: Fat object (57)>,
 <Fat: Fat object (58)>,
 <Fat: Fat object (59)>,
 <Fat: Fat object (60)>,
 <Fat: Fat object (61)>,
 <Fat: Fat object (62)>]

In [44]:
class Main: 
  
    # constructor of Main class 
    def __init__(self): 
        # Initialization of the Strings 
        self.String1 ="Hello"
        self.String2 ="World"
  
    def Function1(self): 
        # calling Function2 Method 
        self.Function2() 
        print("Function1 : ", self.String2) 
        return 
  
    def Function2(self): 
        print("Function2 : ", self.String1) 
        return
  
# Instance of Class Main 
Object = Main() 
  
# Calling Function1 
Object.Function1()

Function2 :  Hello
Function1 :  World

In [125]:
from django.db.models.functions import TruncMonth
from django.db.models import Count, Sum

In [126]:
Fat.objects.annotate(month=TruncMonth('date')).values('month').aggregate(sum=Sum('amount'))

NameError: name 'Fat' is not defined

In [127]:
from django.db.models.functions import ExtractMonth, ExtractYear
from django_pivot.pivot import pivot

In [574]:
check = Expense.objects.annotate(month=ExtractMonth('date'), year=ExtractYear('date')).values('month', 'year').annotate(count=Sum('amount')).values('month', 'count', 'year')

In [575]:
for i in check:
    print(i)

{'month': 4, 'year': 2019, 'count': 100000.0}
{'month': 4, 'year': 2020, 'count': 100.0}
{'month': 5, 'year': 2020, 'count': 500.0}
{'month': 6, 'year': 2020, 'count': 500.0}
{'month': 7, 'year': 2020, 'count': 500.0}
{'month': 8, 'year': 2020, 'count': 300.0}
{'month': 9, 'year': 2020, 'count': 200.0}
{'month': 10, 'year': 2020, 'count': 1000.0}

In [576]:
checks = Expense.objects.annotate(month=ExtractMonth('date'), year=ExtractYear('date')).values('month', 'year').annotate(count=Sum('amount')).values('expenseType__category__category')

In [578]:
for item in checks:
    print(i)

{'month': 10, 'year': 2020, 'count': 1000.0}
{'month': 10, 'year': 2020, 'count': 1000.0}
{'month': 10, 'year': 2020, 'count': 1000.0}
{'month': 10, 'year': 2020, 'count': 1000.0}
{'month': 10, 'year': 2020, 'count': 1000.0}
{'month': 10, 'year': 2020, 'count': 1000.0}
{'month': 10, 'year': 2020, 'count': 1000.0}
{'month': 10, 'year': 2020, 'count': 1000.0}
{'month': 10, 'year': 2020, 'count': 1000.0}
{'month': 10, 'year': 2020, 'count': 1000.0}
{'month': 10, 'year': 2020, 'count': 1000.0}

In [579]:
check2 = Expense.objects.annotate(month=ExtractMonth('date'), year=ExtractYear('date')).values('month', 'year').annotate(sum=Sum('amount')).values('expenseType__category__category').order_by('year', 'month')

In [580]:
for i in checks:
    print(i['expenseType__category__category'])

FIXOS
SALARIOS
FIXOS
SALARIOS
FIXOS
SALARIOS
FIXOS
SALARIOS
SALARIOS
SALARIOS
SALARIOS

In [581]:
check2 = Expense.objects.values('expenseType__category__category').annotate(month=ExtractMonth('date'), year=ExtractYear('date')).annotate(sum=Sum('amount')).order_by('year', 'month')

In [582]:
for i in check2:
    print(i)

{'expenseType__category__category': 'FIXOS', 'month': 4, 'year': 2019, 'sum': 100000.0}
{'expenseType__category__category': 'SALARIOS', 'month': 4, 'year': 2020, 'sum': 100.0}
{'expenseType__category__category': 'FIXOS', 'month': 5, 'year': 2020, 'sum': 200.0}
{'expenseType__category__category': 'SALARIOS', 'month': 5, 'year': 2020, 'sum': 300.0}
{'expenseType__category__category': 'FIXOS', 'month': 6, 'year': 2020, 'sum': 200.0}
{'expenseType__category__category': 'SALARIOS', 'month': 6, 'year': 2020, 'sum': 300.0}
{'expenseType__category__category': 'FIXOS', 'month': 7, 'year': 2020, 'sum': 200.0}
{'expenseType__category__category': 'SALARIOS', 'month': 7, 'year': 2020, 'sum': 300.0}
{'expenseType__category__category': 'SALARIOS', 'month': 8, 'year': 2020, 'sum': 300.0}
{'expenseType__category__category': 'SALARIOS', 'month': 9, 'year': 2020, 'sum': 200.0}
{'expenseType__category__category': 'SALARIOS', 'month': 10, 'year': 2020, 'sum': 1000.0}

In [583]:
data = Expense.objects.all().annotate(month=ExtractMonth('date'), year=ExtractYear('date')).values_list('year', 'month')

In [584]:
from django.db.models import Sum

In [585]:
pivot_table = pivot(data, 'expenseType__category__category','date','amount', aggregation=Sum)

In [586]:
pivot_table

<QuerySet [{'expenseType__category__category': 'FIXOS', '2019-04-01': 100000.0, '2020-04-01': None, '2020-05-01': 200.0, '2020-06-01': 200.0, '2020-07-01': 200.0, '2020-08-01': None, '2020-09-01': None, '2020-10-10': None}, {'expenseType__category__category': 'SALARIOS', '2019-04-01': None, '2020-04-01': 100.0, '2020-05-01': 300.0, '2020-06-01': 300.0, '2020-07-01': 300.0, '2020-08-01': 300.0, '2020-09-01': 200.0, '2020-10-10': 1000.0}]>

In [452]:
[{'label': item['expenseType__category__category'], 'value':item['value']}item for item in pivot_table]

SyntaxError: invalid syntax (<ipython-input-452-66e45f2953fc>, line 1)

In [228]:
def monthyear():
    Expense.objects.annotate(year=ExtractYear('date'))
    return (year)

In [229]:
monthyear()

NameError: name 'year' is not defined

In [329]:
checks3 = Expense.objects.values_list('expenseType__category__category').annotate(count=Sum('amount')).annotate(month=ExtractMonth('date'), year=ExtractYear('date')).values('month', 'year').values('month', 'year', 'expenseType__category__category')

In [330]:
str(checks3.query)

'SELECT "tasks_category"."category", django_date_extract(\'month\', "budgets_expense"."date") AS "month", django_date_extract(\'year\', "budgets_expense"."date") AS "year" FROM "budgets_expense" INNER JOIN "tasks_expensetype" ON ("budgets_expense"."expenseType_id" = "tasks_expensetype"."id") INNER JOIN "tasks_category" ON ("tasks_expensetype"."category_id" = "tasks_category"."id") GROUP BY "tasks_category"."category", django_date_extract(\'month\', "budgets_expense"."date"), django_date_extract(\'year\', "budgets_expense"."date")'

In [331]:
checks3

<QuerySet [{'expenseType__category__category': 'FIXOS', 'month': 4, 'year': 2019}, {'expenseType__category__category': 'FIXOS', 'month': 5, 'year': 2020}, {'expenseType__category__category': 'FIXOS', 'month': 6, 'year': 2020}, {'expenseType__category__category': 'FIXOS', 'month': 7, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 4, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 5, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 6, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 7, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 8, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 9, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 10, 'year': 2020}]>

In [476]:
categories = Expense.objects.values('expenseType__category__category')\
    .aggregate(count)
    .annotate(count=Count('expenseType__category__category'), month=ExtractMonth('date'))\
    .annotate(countmonth=Count('month'))\
    .values('expenseType__category__category', 'countmonth')

In [477]:
[item for item in categories]

['total']

In [460]:
[{'label': item['expenseType__category__category'], 'value':item['month']} for item in categories]

[{'label': 'FIXOS', 'value': 4},
 {'label': 'FIXOS', 'value': 5},
 {'label': 'FIXOS', 'value': 6},
 {'label': 'FIXOS', 'value': 7},
 {'label': 'SALARIOS', 'value': 4},
 {'label': 'SALARIOS', 'value': 5},
 {'label': 'SALARIOS', 'value': 6},
 {'label': 'SALARIOS', 'value': 7},
 {'label': 'SALARIOS', 'value': 8},
 {'label': 'SALARIOS', 'value': 9},
 {'label': 'SALARIOS', 'value': 10}]

In [478]:
def categories(request):
    categories = Lancamento.objects\
        .values('lancamento__category__category')\
        .annotate(value=Sum('amount')+Sum('amount2')+Sum('amount3'))\
        .order_by('lancamento__category__category')
    data = {
        'data': [
            {
                'label': item['lancamento__category__category'],
                'value': item['value']
            }
            for item in categories
        ]
    }
    return JsonResponse(data)

In [484]:
from collections import defaultdict
summary = defaultdict( int )
for item in Expense.objects.all():
    summary[item.expenseType, item.amount] += 1

In [485]:
summary

defaultdict(int,
            {(<ExpenseType: aluguel>, 100.0): 6,
             (<ExpenseType: funcionario>, 100.0): 5,
             (<ExpenseType: funcionario>, 1000.0): 1,
             (<ExpenseType: aluguel>, 100000.0): 1,
             (<ExpenseType: funcionario>, 200.0): 5})

table = []
expenses = Expense.objects.all()
for i in expenses:
    i.

In [545]:
from django.db.models.functions import ExtractMonth, ExtractYear

In [839]:
expenses = Expense.objects.all().values('expenseType__category__category')\
    .annotate(month=ExtractMonth('date'))\
    .annotate(total=Count('month'))\
    .annotate(cat=Count('expenseType__category__category')).values('cat','month')

In [840]:
for i in expenses:
    print(i['cat'])

1
1
1
2
2
2
2
2
1
1

In [643]:
expense = Category.objects.all().values()
for i in expense:
    print(i)

{'id': 1, 'category': 'MKT & PROPAGANDA', 'created_at': datetime.datetime(2020, 9, 18, 13, 56, 18, 526888, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 20, 56, 10, 701877, tzinfo=<UTC>)}
{'id': 2, 'category': 'SALARIOS', 'created_at': datetime.datetime(2020, 9, 18, 13, 56, 46, 717240, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 20, 55, 35, 171261, tzinfo=<UTC>)}
{'id': 3, 'category': 'FIXOS', 'created_at': datetime.datetime(2020, 9, 21, 20, 56, 19, 802824, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 20, 56, 19, 802907, tzinfo=<UTC>)}
{'id': 4, 'category': 'INVESTIMENTOS', 'created_at': datetime.datetime(2020, 9, 21, 20, 56, 55, 643907, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 20, 56, 55, 643990, tzinfo=<UTC>)}
{'id': 5, 'category': 'SEGUROS', 'created_at': datetime.datetime(2020, 9, 21, 20, 57, 58, 151943, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 20, 57, 58, 152021, tzinfo=<UTC>)}
{'id': 6, 'category': 'JUROS/TXs BANCARIAS', 'created_at': datetime.datetime(2020, 9, 21, 20, 59, 8, 992723, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 20, 59, 53, 988640, tzinfo=<UTC>)}
{'id': 7, 'category': 'FINANCIAMENTOS', 'created_at': datetime.datetime(2020, 9, 21, 22, 53, 48, 674589, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 22, 53, 48, 674669, tzinfo=<UTC>)}
{'id': 8, 'category': 'PROLABORE', 'created_at': datetime.datetime(2020, 9, 22, 14, 58, 38, 716054, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 22, 14, 58, 38, 716121, tzinfo=<UTC>)}

In [624]:
list = []
for i in expenses:
    list.append(i['expenseType__category__category'])
    list.append(i['month'])

In [625]:
list

['FIXOS',
 4,
 'FIXOS',
 5,
 'FIXOS',
 6,
 'FIXOS',
 7,
 'SALARIOS',
 4,
 'SALARIOS',
 5,
 'SALARIOS',
 6,
 'SALARIOS',
 7,
 'SALARIOS',
 8,
 'SALARIOS',
 9,
 'SALARIOS',
 10]

In [589]:
from collections import defaultdict
summary = defaultdict( int )
for issue in Expense.objects.all():
    summary[issue.expenseType, issue.amount] += 1

In [590]:
summary

defaultdict(int,
            {(<ExpenseType: aluguel>, 100.0): 6,
             (<ExpenseType: funcionario>, 100.0): 5,
             (<ExpenseType: funcionario>, 1000.0): 1,
             (<ExpenseType: aluguel>, 100000.0): 1,
             (<ExpenseType: funcionario>, 200.0): 5})

In [609]:
table = []
queues = list( q for q,_ in summary.keys() )
for q in sorted( queues ):
    table.append( summary.count(q,'expenseType'), summary.count(q,'amount') )

TypeError: '<' not supported between instances of 'ExpenseType' and 'ExpenseType'

SyntaxError: invalid syntax (<ipython-input-634-53336a710641>, line 1)

In [841]:
expenses = Expense.objects.values()
for i in expenses:
    print(i)

{'id': 32, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 5, 1), 'repetir': None}
{'id': 33, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 6, 1), 'repetir': None}
{'id': 34, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 7, 1), 'repetir': None}
{'id': 35, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 8, 1), 'repetir': None}
{'id': 36, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 9, 1), 'repetir': None}
{'id': 237, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 2, 1), 'repetir': None}
{'id': 238, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 3, 1), 'repetir': None}
{'id': 239, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 4, 1), 'repetir': None}
{'id': 240, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 5, 1), 'repetir': None}
{'id': 241, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 6, 1), 'repetir': None}
{'id': 242, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 7, 1), 'repetir': None}
{'id': 243, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 8, 1), 'repetir': None}
{'id': 244, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 9, 1), 'repetir': None}
{'id': 245, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 10, 1), 'repetir': None}
{'id': 246, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 11, 1), 'repetir': None}

In [674]:
check = Expense.objects.annotate(month=ExtractMonth('date'), year=ExtractYear('date')).values('month', 'year').annotate(sum=Sum('amount')).values('month', 'sum', 'year').order_by('year', 'month')

In [665]:
check

<QuerySet [{'month': 4, 'year': 2019, 'sum': 100000.0}, {'month': 4, 'year': 2020, 'sum': 100.0}, {'month': 5, 'year': 2020, 'sum': 500.0}, {'month': 6, 'year': 2020, 'sum': 500.0}, {'month': 7, 'year': 2020, 'sum': 500.0}, {'month': 8, 'year': 2020, 'sum': 300.0}, {'month': 9, 'year': 2020, 'sum': 200.0}, {'month': 10, 'year': 2020, 'sum': 1000.0}]>

In [666]:
for i in check:
    print(i)

{'month': 4, 'year': 2019, 'sum': 100000.0}
{'month': 4, 'year': 2020, 'sum': 100.0}
{'month': 5, 'year': 2020, 'sum': 500.0}
{'month': 6, 'year': 2020, 'sum': 500.0}
{'month': 7, 'year': 2020, 'sum': 500.0}
{'month': 8, 'year': 2020, 'sum': 300.0}
{'month': 9, 'year': 2020, 'sum': 200.0}
{'month': 10, 'year': 2020, 'sum': 1000.0}

In [770]:
dat = Expense.objects.annotate(data=Count('date'), total=Sum('amount'), count=Count('expenseType__category__category')).values('total').values('expenseType__category__category')

In [771]:
for i in dat:
    print(i)

{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}

In [758]:
pivot_table = pivot(dat,['m', 'y'], 'expenseType__category__category','amount', aggregation=Sum)

In [759]:
for i in pivot_table:
    print(i)

{'m': 18, 'y': 18, 'FIXOS': 100600.0, 'SALARIOS': 2500.0}

In [39]:
from django.db.models.functions import TruncMonth
from django.db.models.functions import ExtractMonth, ExtractYear
from django_pivot.pivot import pivot

In [71]:
exp = Expense.objects.values('expenseType__category__category')\
.annotate(month=ExtractMonth('date'), year=ExtractYear('date'))\
.values('expenseType__category__category', 'month', 'year')

In [72]:
for i in exp:
    print(i)

{'expenseType__category__category': 'FIXOS', 'month': 5, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 6, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 7, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 8, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 9, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 2, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 3, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 4, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 5, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 6, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 7, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 8, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 9, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 10, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 11, 'year': 2020}
{'expenseType__category__category': 'SALARIOS', 'month': 5, 'year': 2020}
{'expenseType__category__category': 'SALARIOS', 'month': 5, 'year': 2020}
{'expenseType__category__category': 'SALARIOS', 'month': 5, 'year': 2020}

In [75]:
pivot_table = pivot(exp, ['year', 'month'], 'expenseType__category__category', 'amount')

In [76]:
pivot_table

<QuerySet [{'month': 2, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}, {'month': 3, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}, {'month': 4, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}, {'month': 5, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': 88.0}, {'month': 6, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}, {'month': 7, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}, {'month': 8, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}, {'month': 9, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}, {'month': 10, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}, {'month': 11, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}]>

In [103]:
for i in pivot_table:
    print(i)

{'month': 2, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}
{'month': 3, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}
{'month': 4, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}
{'month': 5, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': 88.0}
{'month': 6, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}
{'month': 7, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}
{'month': 8, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}
{'month': 9, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}
{'month': 10, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}
{'month': 11, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}

In [97]:
list

[2,
 2020,
 3,
 2020,
 4,
 2020,
 5,
 2020,
 6,
 2020,
 7,
 2020,
 8,
 2020,
 9,
 2020,
 10,
 2020,
 11,
 2020]

In [890]:
def naturalNumbers(n):
    results = []
    i = 2
    while i <= n:
        results.append(i)
        
    return results

In [188]:
import pandas as pd
from IPython.display import HTML

In [189]:
exp = Expense.objects.all().values('expenseType__category__category','amount', 'date')

In [190]:
revenue = Revenue.objects.all().values('Revenue_origin__origem', 'amount', 'date')

In [191]:
rev = pd.DataFrame(revenue)

In [192]:
rev['Período'] = pd.to_datetime(rev['date']).dt.to_period('M')

In [193]:
rev

  Revenue_origin__origem  amount        date  Período
0          - VENDA LOCAL   222.0  2020-04-01  2020-04
1          - VENDA LOCAL   222.0  2020-04-01  2020-04

df = pd.DataFrame(exp)

In [194]:
df['Período'] = pd.to_datetime(df['date']).dt.to_period('M')

In [195]:
df

        Categoria   Valor        date  Período     Lançamento      % row_total
0   - VENDA LOCAL   222.0  2020-04-01  2020-04            NaN    6.0       NaN
1   - VENDA LOCAL   222.0  2020-04-01  2020-04            NaN    6.0       NaN
0   - VENDA LOCAL   222.0  2020-04-01  2020-04            NaN    6.0       NaN
1   - VENDA LOCAL   222.0  2020-04-01  2020-04            NaN    6.0       NaN
0   - VENDA LOCAL   222.0  2020-04-01  2020-04            NaN    6.0       NaN
1   - VENDA LOCAL   222.0  2020-04-01  2020-04            NaN    6.0       NaN
0     Venda Local   222.0  2020-04-01  2020-04            NaN    6.0       NaN
1     Venda Local   222.0  2020-04-01  2020-04            NaN    6.0       NaN
0           FIXOS   100.0  2020-05-01  2020-05        aluguel   35.0       NaN
1           FIXOS   100.0  2020-06-01  2020-06        aluguel   50.0       NaN
2           FIXOS   100.0  2020-07-01  2020-07        aluguel    5.0       NaN
3           FIXOS   100.0  2020-08-01  2020-08        aluguel   50.0       NaN
4           FIXOS   100.0  2020-09-01  2020-09        aluguel   50.0       NaN
5           FIXOS   100.0  2020-02-01  2020-02        aluguel  100.0       NaN
6           FIXOS   100.0  2020-03-01  2020-03        aluguel  100.0       NaN
7           FIXOS   100.0  2020-04-01  2020-04        aluguel    3.0       NaN
8           FIXOS   100.0  2020-05-01  2020-05        aluguel   35.0       NaN
9           FIXOS   100.0  2020-06-01  2020-06        aluguel   50.0       NaN
10          FIXOS   100.0  2020-07-01  2020-07        aluguel    5.0       NaN
11          FIXOS   100.0  2020-08-01  2020-08        aluguel   50.0       NaN
12          FIXOS   100.0  2020-09-01  2020-09        aluguel   50.0       NaN
13          FIXOS   100.0  2020-10-01  2020-10        aluguel  100.0       NaN
14          FIXOS   100.0  2020-11-01  2020-11        aluguel  100.0       NaN
15       SALARIOS    33.0  2020-05-01  2020-05    funcionario   11.0       NaN
16       SALARIOS    33.0  2020-05-01  2020-05    funcionario   11.0       NaN
17       SALARIOS    22.0  2020-05-01  2020-05    funcionario    8.0       NaN
18       SALARIOS   200.0  2019-04-01  2019-04  funcionario 2  100.0       NaN
19       SALARIOS   200.0  2019-05-01  2019-05  funcionario 2  100.0       NaN
20       SALARIOS   200.0  2019-06-01  2019-06  funcionario 2  100.0       NaN
21       SALARIOS   200.0  2019-07-01  2019-07  funcionario 2  100.0       NaN
22       SALARIOS   200.0  2019-08-01  2019-08  funcionario 2  100.0       NaN
23       SALARIOS   200.0  2019-09-01  2019-09  funcionario 2  100.0       NaN
24       SALARIOS   200.0  2019-10-01  2019-10  funcionario 2  100.0       NaN
25       SALARIOS   200.0  2019-11-01  2019-11  funcionario 2  100.0       NaN
26       SALARIOS   200.0  2019-12-01  2019-12  funcionario 2  100.0       NaN
27       SALARIOS   200.0  2020-01-01  2020-01  funcionario 2  100.0       NaN
28       SALARIOS  2000.0  2020-07-10  2020-07  funcionario 2   91.0       NaN
29        SEGUROS  2000.0  2020-04-01  2020-04        VEICULO   52.0       NaN

In [177]:
df = df.rename(columns={"amount": "Valor", "expenseType__category__category": "Categoria"})

In [178]:
rev = rev.rename(columns={"amount": "Valor", "Revenue_origin__origem": "Categoria"})

In [179]:
df['%'] = round(df['Valor']/rev.groupby(['Período'])['Valor'].transform('sum')*100)

ValueError: cannot reindex from a duplicate axis

In [166]:
dfnew = pd.concat([rev,df])

In [167]:
dfnew['Período'] = pd.to_datetime(dfnew['date']).dt.to_period('M')

In [168]:
dfnew = dfnew.rename(columns={"amount": "Valor", "expenseType__category__category": "Categoria", "expenseType__title": "Despesa"})

In [170]:
dfnew['%'] = round(df['Valor']/rev.groupby(['Período'])['Valor'].transform('sum')*100)

ValueError: cannot reindex from a duplicate axis

In [152]:
df['%'] = round(df['Valor']/df.groupby(['Período'])['Valor'].transform('sum')*100)

In [86]:
df.loc[:,'row_total'] = df.sum(axis=0)

In [88]:
df.sort_values(by=['Período'])

        Categoria   Valor        date     Lançamento  Período      % row_total
18       SALARIOS   200.0  2019-04-01  funcionario 2  2019-04  100.0       NaN
19       SALARIOS   200.0  2019-05-01  funcionario 2  2019-05  100.0       NaN
20       SALARIOS   200.0  2019-06-01  funcionario 2  2019-06  100.0       NaN
21       SALARIOS   200.0  2019-07-01  funcionario 2  2019-07  100.0       NaN
22       SALARIOS   200.0  2019-08-01  funcionario 2  2019-08  100.0       NaN
23       SALARIOS   200.0  2019-09-01  funcionario 2  2019-09  100.0       NaN
24       SALARIOS   200.0  2019-10-01  funcionario 2  2019-10  100.0       NaN
25       SALARIOS   200.0  2019-11-01  funcionario 2  2019-11  100.0       NaN
26       SALARIOS   200.0  2019-12-01  funcionario 2  2019-12  100.0       NaN
27       SALARIOS   200.0  2020-01-01  funcionario 2  2020-01  100.0       NaN
5           FIXOS   100.0  2020-02-01        aluguel  2020-02  100.0       NaN
6           FIXOS   100.0  2020-03-01        aluguel  2020-03  100.0       NaN
0   - VENDA LOCAL   222.0  2020-04-01            NaN  2020-04    7.0       NaN
29        SEGUROS  2000.0  2020-04-01        VEICULO  2020-04   67.0       NaN
7           FIXOS   100.0  2020-04-01        aluguel  2020-04    3.0       NaN
1   - VENDA LOCAL   222.0  2020-04-01            NaN  2020-04    7.0       NaN
0     Venda Local   222.0  2020-04-01            NaN  2020-04    7.0       NaN
1     Venda Local   222.0  2020-04-01            NaN  2020-04    7.0       NaN
0           FIXOS   100.0  2020-05-01        aluguel  2020-05   35.0       NaN
15       SALARIOS    33.0  2020-05-01    funcionario  2020-05   11.0       NaN
16       SALARIOS    33.0  2020-05-01    funcionario  2020-05   11.0       NaN
17       SALARIOS    22.0  2020-05-01    funcionario  2020-05    8.0       NaN
8           FIXOS   100.0  2020-05-01        aluguel  2020-05   35.0       NaN
9           FIXOS   100.0  2020-06-01        aluguel  2020-06   50.0       NaN
1           FIXOS   100.0  2020-06-01        aluguel  2020-06   50.0       NaN
2           FIXOS   100.0  2020-07-01        aluguel  2020-07    5.0       NaN
10          FIXOS   100.0  2020-07-01        aluguel  2020-07    5.0       NaN
28       SALARIOS  2000.0  2020-07-10  funcionario 2  2020-07   91.0       NaN
11          FIXOS   100.0  2020-08-01        aluguel  2020-08   50.0       NaN
3           FIXOS   100.0  2020-08-01        aluguel  2020-08   50.0       NaN
4           FIXOS   100.0  2020-09-01        aluguel  2020-09   50.0       NaN
12          FIXOS   100.0  2020-09-01        aluguel  2020-09   50.0       NaN
13          FIXOS   100.0  2020-10-01        aluguel  2020-10  100.0       NaN
14          FIXOS   100.0  2020-11-01        aluguel  2020-11  100.0       NaN

In [101]:
table = pd.pivot_table(df, values=['Valor','%'], index=['Categoria'],
                    columns=['Período'], aggfunc=sum, fill_value=0)

In [102]:
table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, - VENDA LOCAL to Venda Local
Data columns (total 40 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (%, 2019-04)      5 non-null      int64
 1   (%, 2019-05)      5 non-null      int64
 2   (%, 2019-06)      5 non-null      int64
 3   (%, 2019-07)      5 non-null      int64
 4   (%, 2019-08)      5 non-null      int64
 5   (%, 2019-09)      5 non-null      int64
 6   (%, 2019-10)      5 non-null      int64
 7   (%, 2019-11)      5 non-null      int64
 8   (%, 2019-12)      5 non-null      int64
 9   (%, 2020-01)      5 non-null      int64
 10  (%, 2020-02)      5 non-null      int64
 11  (%, 2020-03)      5 non-null      int64
 12  (%, 2020-04)      5 non-null      int64
 13  (%, 2020-05)      5 non-null      int64
 14  (%, 2020-06)      5 non-null      int64
 15  (%, 2020-07)      5 non-null      int64
 16  (%, 2020-08)      5 non-null      int64
 17  (%, 2020-09)      5 non-null      int64
 18  (%, 2020-10)      5 non-null      int64
 19  (%, 2020-11)      5 non-null      int64
 20  (Valor, 2019-04)  5 non-null      int64
 21  (Valor, 2019-05)  5 non-null      int64
 22  (Valor, 2019-06)  5 non-null      int64
 23  (Valor, 2019-07)  5 non-null      int64
 24  (Valor, 2019-08)  5 non-null      int64
 25  (Valor, 2019-09)  5 non-null      int64
 26  (Valor, 2019-10)  5 non-null      int64
 27  (Valor, 2019-11)  5 non-null      int64
 28  (Valor, 2019-12)  5 non-null      int64
 29  (Valor, 2020-01)  5 non-null      int64
 30  (Valor, 2020-02)  5 non-null      int64
 31  (Valor, 2020-03)  5 non-null      int64
 32  (Valor, 2020-04)  5 non-null      int64
 33  (Valor, 2020-05)  5 non-null      int64
 34  (Valor, 2020-06)  5 non-null      int64
 35  (Valor, 2020-07)  5 non-null      int64
 36  (Valor, 2020-08)  5 non-null      int64
 37  (Valor, 2020-09)  5 non-null      int64
 38  (Valor, 2020-10)  5 non-null      int64
 39  (Valor, 2020-11)  5 non-null      int64
dtypes: int64(40)
memory usage: 1.6+ KB

In [103]:
table.columns = table.columns.swaplevel(0, 1).swaplevel(1, 0)

In [104]:
table = table.reindex(sorted(table.columns), axis=1)

In [105]:
table.loc[('column_total', ''), :] = table.sum(axis=0)

KeyError: "None of [Index(['column_total', ''], dtype='object', name='Categoria')] are in the [index]"

In [100]:
table

                    %                                                          \
Período       2019-04 2019-05 2019-06 2019-07 2019-08 2019-09 2019-10 2019-11
Categoria
- VENDA LOCAL       0       0       0       0       0       0       0       0
FIXOS               0       0       0       0       0       0       0       0
SALARIOS          100     100     100     100     100     100     100     100
SEGUROS             0       0       0       0       0       0       0       0
Venda Local         0       0       0       0       0       0       0       0

                               ...   Valor                                  \
Período       2019-12 2020-01  ... 2020-02 2020-03 2020-04 2020-05 2020-06
Categoria                      ...
- VENDA LOCAL       0       0  ...       0       0     444       0       0
FIXOS               0       0  ...     100     100     100     200     200
SALARIOS          100     100  ...       0       0       0      88       0
SEGUROS             0       0  ...       0       0    2000       0       0
Venda Local         0       0  ...       0       0     444       0       0


Período       2020-07 2020-08 2020-09 2020-10 2020-11
Categoria
- VENDA LOCAL       0       0       0       0       0
FIXOS             200     200     200     100     100
SALARIOS         2000       0       0       0       0
SEGUROS             0       0       0       0       0
Venda Local         0       0       0       0       0

[5 rows x 40 columns]