In [5]:
list = Expense.objects.last()

In [19]:
list.expenseType_id

1

In [9]:
from django.shortcuts import render, get_object_or_404, redirect

In [12]:
obj = get_object_or_404(Expense, pk=20)

In [1]:
from datetime import datetime, timedelta
from django_pivot.pivot import pivot
from django.db.models import Sum
import pandas as pd

In [2]:
now = datetime.now()
end_date = now+timedelta(days=365)

In [33]:
datas = Expense.date_obj.values('conc').filter(date__range=(now, end_date))\
            .values('expenseType__title', 'amount', 'conc').order_by('conc')

In [34]:
datas

<QuerySet [{'expenseType__title': 'FUNCIONARIO 1', 'amount': 1000.0, 'conc': '2020 / 10'}, {'expenseType__title': 'FUNCIONARIO 1', 'amount': 10000.0, 'conc': '2020 / 11'}, {'expenseType__title': 'FUNCIONARIO 1', 'amount': 20000.0, 'conc': '2020 / 11'}, {'expenseType__title': 'FUNCIONARIO 1', 'amount': 20000.0, 'conc': '2020 / 12'}, {'expenseType__title': 'FUNCIONARIO 1', 'amount': 20000.0, 'conc': '2021 / 1'}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'conc': '2021 / 1'}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'conc': '2021 / 1'}, {'expenseType__title': 'FUNCIONARIO 1', 'amount': 20000.0, 'conc': '2021 / 2'}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'conc': '2021 / 2'}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'conc': '2021 / 2'}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'conc': '2021 / 3'}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'conc': '2021 / 3'}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'conc': '2021 / 4'}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'conc': '2021 / 4'}]>

In [35]:
pivot = pivot(datas, 'expenseType__title', 'conc', 'amount', aggregation=Sum)

In [36]:
pivot

<QuerySet [{'expenseType__title': 'FUNCIONARIO 1', '2020 / 10': 1000.0, '2020 / 11': None, '2020 / 12': None, '2021 / 1': None, '2021 / 2': None, '2021 / 3': None, '2021 / 4': None}, {'expenseType__title': 'FUNCIONARIO 1', '2020 / 10': None, '2020 / 11': 30000.0, '2020 / 12': None, '2021 / 1': None, '2021 / 2': None, '2021 / 3': None, '2021 / 4': None}, {'expenseType__title': 'FUNCIONARIO 1', '2020 / 10': None, '2020 / 11': None, '2020 / 12': 20000.0, '2021 / 1': None, '2021 / 2': None, '2021 / 3': None, '2021 / 4': None}, {'expenseType__title': 'ALUGUEL', '2020 / 10': None, '2020 / 11': None, '2020 / 12': None, '2021 / 1': 13530.0, '2021 / 2': None, '2021 / 3': None, '2021 / 4': None}, {'expenseType__title': 'FUNCIONARIO 1', '2020 / 10': None, '2020 / 11': None, '2020 / 12': None, '2021 / 1': 20000.0, '2021 / 2': None, '2021 / 3': None, '2021 / 4': None}, {'expenseType__title': 'ALUGUEL', '2020 / 10': None, '2020 / 11': None, '2020 / 12': None, '2021 / 1': None, '2021 / 2': 13530.0, '2021 / 3': None, '2021 / 4': None}, {'expenseType__title': 'FUNCIONARIO 1', '2020 / 10': None, '2020 / 11': None, '2020 / 12': None, '2021 / 1': None, '2021 / 2': 20000.0, '2021 / 3': None, '2021 / 4': None}, {'expenseType__title': 'ALUGUEL', '2020 / 10': None, '2020 / 11': None, '2020 / 12': None, '2021 / 1': None, '2021 / 2': None, '2021 / 3': 13530.0, '2021 / 4': None}, {'expenseType__title': 'ALUGUEL', '2020 / 10': None, '2020 / 11': None, '2020 / 12': None, '2021 / 1': None, '2021 / 2': None, '2021 / 3': None, '2021 / 4': 13530.0}]>

In [37]:
df = pd.DataFrame(datas)

In [38]:
df

   expenseType__title   amount       conc
0       FUNCIONARIO 1   1000.0  2020 / 10
1       FUNCIONARIO 1  10000.0  2020 / 11
2       FUNCIONARIO 1  20000.0  2020 / 11
3       FUNCIONARIO 1  20000.0  2020 / 12
4       FUNCIONARIO 1  20000.0   2021 / 1
5             ALUGUEL   6765.0   2021 / 1
6             ALUGUEL   6765.0   2021 / 1
7       FUNCIONARIO 1  20000.0   2021 / 2
8             ALUGUEL   6765.0   2021 / 2
9             ALUGUEL   6765.0   2021 / 2
10            ALUGUEL   6765.0   2021 / 3
11            ALUGUEL   6765.0   2021 / 3
12            ALUGUEL   6765.0   2021 / 4
13            ALUGUEL   6765.0   2021 / 4

In [39]:
pd.pivot_table(df, values='amount', index=['expenseType__title'],
                    columns=['conc'], aggfunc=sum)

conc,2020 / 10,2020 / 11,2020 / 12,2021 / 1,2021 / 2,2021 / 3,2021 / 4
expenseType__title,,,,,,,
ALUGUEL,NaN,NaN,NaN,13530.0,13530.0,13530.0,13530.0
FUNCIONARIO 1,1000.0,30000.0,20000.0,20000.0,20000.0,NaN,NaN

In [64]:
expenses = Expense.objects.all().filter(date__range=(now, end_date))\
            .values('expenseType__title', 'amount', 'date').order_by('date')

In [65]:
expenses

<QuerySet [{'expenseType__title': 'FUNCIONARIO 1', 'amount': 1000.0, 'date': datetime.date(2020, 10, 2)}, {'expenseType__title': 'FUNCIONARIO 1', 'amount': 10000.0, 'date': datetime.date(2020, 11, 1)}, {'expenseType__title': 'FUNCIONARIO 1', 'amount': 20000.0, 'date': datetime.date(2020, 11, 1)}, {'expenseType__title': 'FUNCIONARIO 1', 'amount': 20000.0, 'date': datetime.date(2020, 12, 1)}, {'expenseType__title': 'FUNCIONARIO 1', 'amount': 20000.0, 'date': datetime.date(2021, 1, 1)}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'date': datetime.date(2021, 1, 1)}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'date': datetime.date(2021, 1, 1)}, {'expenseType__title': 'FUNCIONARIO 1', 'amount': 20000.0, 'date': datetime.date(2021, 2, 1)}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'date': datetime.date(2021, 2, 1)}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'date': datetime.date(2021, 2, 1)}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'date': datetime.date(2021, 3, 1)}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'date': datetime.date(2021, 3, 1)}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'date': datetime.date(2021, 4, 1)}, {'expenseType__title': 'ALUGUEL', 'amount': 6765.0, 'date': datetime.date(2021, 4, 1)}]>

In [3]:
now = datetime.now()
end_date = now+timedelta(days=365)

In [9]:
categories = Expense.objects.filter(expenseType=120)

In [10]:
categories